#training{
    padding-bottom: 30px;
    .training-item{
        h3{
            @include fonts(Roboto,900,20px,rgba(0, 0, 0, 0.8));
            margin-bottom: 20px;
            text-transform: uppercase;
            width: 100%;
            @include pGap(10px,10px,0,0);
            background-color: rgba(64,84,178,0.16);
        }

        img{
            transition: all linear .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}